@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;

}

#title {
    font-size: 1em;
    margin-bottom: 20px;
}


#card > div {
    font-family: 'Space Grotesk', sans-serif;
    margin: 5px;
}

main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    min-height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.281);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px 18px 0px #33333370;
}

#img {
    box-shadow: 5px 10px 18px 0px #33333370;

    width: 180px;
    height: 180px;
    border-radius: 50%; 
}

#names {
    font-size: .85rem;
    font-style: italic;
}

#names > #track-artist {
    font-weight: normal;
}

.btns{
    display: flex;
    cursor: pointer;
}

.btns > .btn2 {
    width: 65px;

}

.btns > .btn1 {
    width: 40px;
}
.btn2:hover, .btn1:hover {
    transform: scale(1.08);
    transition: .3s;
}


/* timer */

.timer{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: .80rem;
}
#progress {
    width: 250px;
    cursor: pointer;

}

/* section */

section {
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    text-align: end;
    color: #222222;
}



/* footer */

footer{
    display: flex;
    justify-content: center;
    font-size: .9rem;

}

footer > p{
    font-family: "Montserrat", sans-serif;
    display: flex;
    font-style: italic;
    justify-content: center;
    align-items: center;
    font-weight: 400;

}

footer > p > a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-left: 4px;
    color: black;
}

footer > p > a:hover {
    color: rgb(70, 70, 70);
    margin-left: 4px;
}

footer > img {
    width: 27px;
    margin-left: 4px;
}


/* media */

@media (max-width: 1050px){
    #text {
        font-size: .75rem;
        transition: 1s;
    }
}

@media (max-width: 820px){
    section {
        display: none;
        transition: 1s;
    }
}


@media (max-width: 500px){
    footer {
        font-size: .75rem;
    }
}

@media (max-height: 600px){
    footer {
        display: none;
    }
}






